* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    transition: all 0.2s ease;
}

html {
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1260px;
    padding: 0 20px;
    margin: auto;
}

body {
    background-image: url(../rasmlar/bg_img\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* ==================================== ====================== ============= =========== ============== ========== */


header {
    padding-bottom: 230px;

    .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        box-sizing: border-box;
        backdrop-filter: blur(50px);
        min-width: 300px;


        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;


            .logo {
                padding: 5px 20px;
                text-transform: uppercase;
                color: white;
                font-size: 20px;
                line-height: 21px;
                background-color: rgba(78, 159, 13, 1);
                border-radius: 5px;
                box-shadow: inset 0 0 5px 5px rgb(52, 112, 3);
                cursor: pointer;
            }

            ul {
                display: flex;

                li a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: rgba(78, 159, 13, 1);
                    padding: 20px;
                    display: block;
                    min-width: 89px;
                }

                li .korzina {
                    display: inline-block;
                    background-color: white;
                    border-radius: 50%;
                    text-align: center;
                    width: 17px;
                    height: 17px;
                    line-height: 16px;
                    font-size: 15px;
                }

                li:hover a {
                    color: white;
                    background-color: rgba(78, 159, 13, 1);
                }

                li:hover a span {
                    color: #4CAF50;
                }
            }

            .navbar-menu {
                display: none;
            }
        }

        .navbar-menu {
            .knopka {
                padding: 0;
                color: rgba(78, 159, 13, 1);
                cursor: pointer;
                font-size: 40px;
                line-height: 40px;



            }

            .navbar576 {
                padding-top: 60px;
                display: block;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                backdrop-filter: blur(10px);
                position: fixed;
                width: 40%;
                height: 30vh;
                top: 0;
                right: 0;
                border-radius: 0 0 0 5px;
            }

            .navbar576 a {
                color: white;
                display: block;
                text-align: right;
                padding: 10px;
            }

            .korzina {
                display: inline-block;
                background-color: rgba(78, 159, 13, 1);
                border-radius: 50%;
                text-align: center;
                width: 17px;
                height: 17px;
                line-height: 16px;
                font-size: 15px;
            }

            .navbar576 a:hover {
                background-color: #4CAF50;
            }

            .navbar_close {
                position: absolute;
                top: 25px;
                right: 10px;
                background-color: #4CAF50;
                border-radius: 5px;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 20px;
                padding: 5px 20px;
                box-shadow: inset 0 0 5px 5px rgb(52, 112, 3);
            }

            #knopka:checked~.navbar576 {
                display: block;
            }

            #knopka:not(:checked)~.navbar576 {
                display: none;
            }
        }
    }

    .header-main {
        margin-top: 240px;

        h1 {
            font-size: 72px;
            font-weight: 900;
            line-height: 84px;
            color: rgba(78, 159, 13, 1);
            text-transform: uppercase;
        }

        h2 {
            font-weight: normal;
            font-size: 36px;
            color: rgba(78, 159, 13, 1);
            margin: 0 0 15px;
        }

        p {
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: white;
        }

        button {
            padding: 17px 80px;
            margin-top: 50px;
            border: none;
            color: white;
            font-size: 60px;
            line-height: 70px;
            background-color: rgba(78, 159, 13, 1);
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover{
            box-shadow: inset 0 0 5px 5px rgb(52, 112, 3);
        }
    }

}



/* ================================================================================================================= */
main {
    background-color: black;

    .section1 {
        .navbar {
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    overflow-x: scroll;

                    li {
                        a {
                            padding: 30px 20px;
                            display: block;
                            font-size: 20px;
                            color: rgba(122, 122, 122, 1);
                        }

                        a:hover {
                            color: #4CAF50;
                            font-size: 21px;
                        }
                    }
                }
            }
        }


        .section1-card-group {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 20px;

            .section1-card {
                position: relative;
                padding-bottom: 30px;
                border-radius: 10px;


                .section1-cover {
                    width: 100%;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    border-radius: 10px 10px 0 0;

                }

                button{
                    padding:15px 50px;
                    background-color: #4CAF50;
                    color: white;
                    font-size: 20px;
                    position: absolute;
                    top: 60%;
                    left: 0;
                    border: none;
                    display: none;
                    
                }
                img {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .section1-card-text {
                    padding-left: 10px;

                    h3 {
                        font-weight: bold;
                        font-size: 24px;
                        color: rgba(78, 159, 13, 1);
                        margin: 35px 0 10px;
                    }

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;
                        color: white;
                        text-align: justify;
                        padding-right: 20px;
                    }
                }
            }

            .section1-card:hover .section1-cover {
                opacity: 1;
            }

            .section1-card:hover button{
                display: none;
            }
            .section1-card:hover {
                box-shadow: 0 0 7px 1px rgba(78, 159, 13, 1);
            }

            .section1-card:hover .section1-card-text {

                box-sizing: border-box;
            }
        }
    }

    .section2{

        background-image: url(../rasmlar/section_bg\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        margin-top: 70px;
        padding: 40px 0 100px;
        h2{
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            color: rgba(78, 159, 13, 1);
            text-transform: uppercase;
        }
        .section2-line{
            width: 202px;
            height: 1px;
            background-color: #4CAF50;
            margin:15px auto 45px;
        }
        p{
            margin-bottom: 25px;
            color: white;
            text-align: justify;
            font-size: 18px;
            line-height: 24px;
        }
    }

    .section3{
        h2{
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            color: rgba(78, 159, 13, 1);
            margin: 35px auto;
            text-transform: uppercase;
        }
    }
}



/* ========================================================== ======================  ======================== ======== */



footer{
    background-color: black;
    padding: 45px 0;
    .footer-top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            padding: 5px 20px;
            text-transform: uppercase;
            color: white;
            font-size: 20px;
            line-height: 21px;
            background-color: rgba(78, 159, 13, 1);
            border-radius: 5px;
            box-shadow: inset 0 0 5px 5px rgb(52, 112, 3);
            cursor: pointer;
        }
        .number{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: rgba(78, 159, 13, 1);
        }
    }

    .footer-links{
        width: 100%;
        margin: 50px auto 35px;
        display: flex;
        justify-content: center;
        a{
            padding:0 20px;
            font-size: 18px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
        a:hover{
            color: rgba(78, 159, 13, 1);
        }
    }
    .footer-bottom p{
        font-weight: 100;
        font-size: 16px;
        line-height: 18px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
    }
}





@media screen and (max-width:900px) {
    header {
        .header-main {
            h1 {
                font-size: 55px;
                line-height: 70px;
            }

            h2 {
                font-weight: 200;
            }

            p {
                font-size: 15px;
                line-height: 18px;
            }

            button {
                padding: 15px 60px;
                margin-top: 45px;
                font-size: 50px;
                line-height: 60px;
            }
        }
    }

    main {

        .section1{

            
            .navbar {
                nav {
                    ul {
                        li {
                            a {
                                padding: 20px 15px;
                                font-size: 15px;
                            }
    
                            a:hover {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .section1-card-group {
                .section1-card {
                    .section1-card-text {
                        h3 {
                            font-size: 20px;
                            margin: 25px 0 10px;
                        }
        
                        p {
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }

        .section2{

            h2{
                
                font-size: 33px;
                
            }
            .section2-line{
            
                margin:15px auto 35px;
            }
            p{
                margin-bottom: 20px;
                color: white;
                text-align: justify;
                font-size: 15px;
                line-height: 20px;
            }
        }

        .section3{
            h2{
                font-size: 30px;
                margin: 30px auto;
            }
            iframe{
                height: 400px;
            }
        }
        
    }

    footer{
        .footer-links{
            a{
                padding:0 15px;
                font-size: 16px;
            }
        }
        .footer-bottom p{
            font-size: 13px;
        }
    }
}


@media screen and (max-width:728px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-image: url(../rasmlar/bg-2.png);
    }

    header {
        .navbar {
            nav {
                ul {
                    li a {
                        font-size: 15px;
                        line-height: 16px;
                        padding: 20px 15px;
                    }
                }
            }
        }

        .header-main {
            h1 {
                font-size: 40px;
                line-height: 50px;
            }

            p {
                font-size: 14px;
                line-height: 18px;
            }

            button {
                padding: 15px 60px;
                margin-top: 35px;
                font-size: 40px;
                line-height: 50px;
            }
        }
    }

    main {

        .section1{
            .section1-card-group {
                .section1-card {
                    .section1-card-text {
                        h3 {
                            font-size: 17px;
                            margin: 20px 0 10px;
                        }
        
                        p {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        .section2{

            h2{
                
                font-size: 30px;
                
            }
            .section2-line{
            
                margin:15px auto 25px;
            }
            p{
                margin-bottom: 20px;
                color: white;
                text-align: justify;
                font-size: 14px;
                line-height: 17px;
            }
        }

        .section3{
            h2{
                font-size: 25px;
                margin: 20px auto;
            }
        }
        
    }

    footer{
        .footer-links{
            a{
                padding:0 10px;
                font-size: 14px;
            }
        }
        .footer-bottom p{
            font-size: 12px;
        }
    }
}


@media screen and (max-width:600px) {
    header .navbar nav .navbar-menu {
        display: inline-block;
    }

    header .navbar nav ul {
        display: none;
    }

    header .navbar {
        padding-top: 20px;
    }

    header {
        padding-bottom: 50px;

        .header-main {
            h1 {
                font-size: 30px;
                line-height: 40px;
            }

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 12px;
                line-height: 15px;
            }

            button {
                padding: 10px 30px;
                margin-top: 20px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    main {

        .section1{
            .navbar {
                nav {
                    ul {
                        li {
                            a {
                                padding: 15px 10px;
                                font-size: 13px;
                                min-width: 75px;
                            }
    
                            a:hover {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .section1-card-group {
                grid-template-columns: auto auto;
                .section1-card {
                    .section1-card-text {
                        h3 {
                            font-size: 17px;
                            margin: 20px 0 10px;
                        }
        
                        p {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
        
        .section2{

            h2{
                
                font-size: 28px;
                
            }
            .section2-line{
            
                margin:15px auto;
            }
            p{
                margin-bottom: 17px;
                
                font-size: 13px;
                line-height: 15px;
            }
        }

        .section3{
            h2{
                font-size: 20px;
                margin: 15px auto;
            }
            iframe{
                height: 300px;
            }
        }
    }

    footer{
        padding: 20px 0;
        .footer-links{
            margin: 30px auto 15px;
            a{
                padding:0 7px;
                font-size: 12px;
            }
        }
        .footer-bottom p{
            font-size: 10px;
        }
    }
}


@media screen and (max-width:450px) {
    header {
        .header-main {
            min-width: 300px;

            h1 {
                font-size: 30px;
                line-height: 40px;
            }

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 12px;
                line-height: 15px;
            }

            button {
                padding: 6px 20px;
                margin-top: 20px;
                font-size: 15px;
                line-height: 20px;
                border-radius: 3px;
            }
        }
    }

    main {

        .section1{
            .navbar {
                nav {
                    ul {
                        li {
                            a {
                                padding: 20px 7px;
                                display: inline-block;
                                font-size: 12px;
                                min-width: 50px;
                            }
    
                            a:hover {
                                font-size: 14px;
                            }
                        }
                        li:nth-of-type(2){

                            a{
                              min-width: 80px;
                            }
                        }
                    }
                }
            }
            .section1-card-group {
                grid-template-columns: auto ;
                .section1-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;

                    .section1-cover {
                        width: 100%;
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        border-radius:5px 0 0 5px;
                        height: 100%;
    
                    }
                    img{
                        width: 30%;
                        height: 100%;
                        min-width: 115px;
                        border-radius: 5px 0 0 5px;
                    }
                    .section1-card-text {
                        h3 {
                            font-size: 17px;
                            margin: 0 0 10px;
                        }
        
                        p {
                            font-size: 12px;
                            line-height: 14px;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        .section2{

            min-width: 300px;
            padding-bottom: 40px;
            h2{
                
                font-size: 25px;
                
            }
            .section2-line{
            
                margin:15px auto;
            }
            p{
                margin-bottom: 15px;
                
                font-size: 12px;
                line-height: 14px;
            }
        }

        .section3{

            iframe{
                height: 250px;
            }
        }
        
    }

    footer{
        padding: 15px 0;
        min-width: 315px;

        .footer-top{
            .number{
                font-size: 15px;
            }
        }

        .footer-links{
            margin: 20px auto 10px;
            a:nth-of-type(1){
                display: none;
            }
            a:nth-of-type(3){
                display: none;
            }
            a:nth-of-type(2){
                display: none;
            }
        }
        .footer-bottom p{
            font-size: 10px;
        }
    }
}

@media screen and (max-width:400px){
    main {
        .section1{
            .section1-card-group{
                .section1-card{
                    display: block;
                    padding-bottom: 10px;
                    min-width: 260px;

                    .section1-cover {
                        width: 100%;
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        border-radius:5px 5px 0 0;
    
                    }
                    img{
                        width: 100%;
                        height: auto;
                        min-width: 115px;
                        border-radius: 5px 5px 0 0;
                    }
                    .section1-card-text {
                        h3 {
                            font-size: 17px;
                            margin:10px 0;
                        }
        
                        p {
                            font-size: 12px;
                            line-height: 14px;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}